<!DOCTYPE html>
<html lang="hu" layout:decorate="layouts/main" xmlns:th="http://www.thymeleaf.org">
<head>
<title>MyPage</title>
<meta charset="utf-8" />


</head>
<body>

<div layout:fragment="loginContent">


<form name="login" method="post" th:action="@{/login}" >
<table>
<h2 th:if="${param.error}">Hibás felhasználói név és jelszó</h2>
<tr><td>Email cím</td>
<td><input type="text" name="username" id="username"  placeholder="Email cím"/></td></tr>
<tr><td>Jelszó</td>
<td><input type="password" name="password" id="password"  placeholder="Jelszó" /></td></tr>
<tr><td></td>
<td><input type="submit" name="submit" value="Bejelentkezés" /></td></tr>
</table>
</form>




</div>




</body>
</html>