<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
<title>MyPage</title>





</head>
<body>

<div>
<nav class="menu-bar">
<a href="/">Kezdőoldal</a>
<a href="/login">Bejelentkezés</a>
<a href="/registration">Regisztráció</a>
</nav>
</div>



<div layout:fragment="loginContent">



</div>




<footer>
<p>Ez az oldal tesztelés céljából jött létre.</p>
</footer>

</body>
</html>